.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 210px;
        img{
            width: 100%;
        }
    }
    .phone-icon{
        display: none;
    }
    /*  */
    .phone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__tel {
            font-weight: 500;
            font-size: 20px;    
            color: #fff;
            text-decoration: none;
        }
        &__text{
            font-weight: 400;
            font-size: 15px;
            color: rgba(255, 255, 255, .5);
            text-decoration: underline;
        }
    }
}
@media(max-width: 610px){
    .header{
        justify-content: center;
        margin-bottom: 21px;
        .logo{
            width: 140px;
            margin-right: 160px;
        }
        .phone{
            display: none;
        }
        .phone-icon{
            position: absolute;
            right: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 35px;
            border: 1px solid #E8CD80;
            border-radius: 5px;
            cursor: pointer;
            img{
                height: 13px;
            }
        }
    }
}
@media(max-width: 470px){
    .header{
        .phone-icon{
            right: 25%;
        }
    }
}
@media(max-width: 420px){
    .header{
        .phone-icon{
            right: 20%;
        }
    }
}
@media(max-width: 340px){
    .header{
        justify-content: flex-start;
        .logo{
            margin-right: 0;
        }
        .phone-icon{
            right: 15%;
        }
    }
}
