.promo{
    position: relative;
    min-height: 100vh;
    background: url('../img/bg1.jpg') center center/cover no-repeat;
    padding-top: 37px;
    &__wrapper{
        width: 600px;
        margin-top: 45px;
    }
    &__h1{
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 45px;
        line-height: 61px;
        color: #fff;
        span{
            font-weight: 500;
        }
    }
    &__h2{
        display: flex;
        align-items: center;
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        &::before{
            content: '';
            display: inline-block;
            height: 8px;
            width: 8px;
            border: 1px outset #fff;
            border-radius: 100%;
            margin: 7px 15px 0 5px;
        }
    }
    &-h2__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 15px;
        &::before{
            content: '';
            display: inline-block;
            height: 8px;
            width: 8px;
            border: 1px outset #fff;
            border-radius: 100%;
            margin-top: 7px;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
        color: #fff;
        margin: 25px 0 25px 40px;
    }
    &-button__wrapper{
        display: flex;
        margin-left: 40px;
        &::before{
            content: " ";
            display: block;
            height: 71px;
            width: 5px;
            background: linear-gradient(180deg, #F2E0A9 0%, #E8CD80 100%);
            border-radius: 100% 0 0 100% / 80% 0 0 80%;
            box-shadow: inset 0px 10px 10px rgba(255, 255, 255, .25);
            cursor: pointer;
        }
        &::after{
            content: " ";
            display: block;
            height: 71px;
            width: 5px;
            background: linear-gradient(180deg, #F2E0A9 0%, #E8CD80 100%);
            border-radius: 0 100% 100% 0 / 0 80% 80% 0;
            box-shadow: inset 0px 10px 10px rgba(255, 255, 255, .25);
            cursor: pointer;
        }
    }
    &__button{
        width: 250px;
        height: 71px;
        background: linear-gradient(180deg, #F2E0A9 0%, #E8CD80 100%);
        border: none;
        box-shadow: inset 0px 10px 10px rgba(255, 255, 255, .25);
        transform: skewX();
        color: #756532;
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
    }
    &-items{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 2;
    }
    &-item{
        position: relative;
        width: 290px;
        height: 130px;
        background: linear-gradient(102.1deg, #252525 5.11%, #181818 100.87%);
        padding:38px 25px 0 25px;
        &:first-child{
            border-radius: 10px 0 0 0;
        }
        &:nth-child(4){
            border-radius: 0 10px  0 0;
        }
        &__logo{
            position: absolute;
            top: -38%;
            right: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            background: linear-gradient(102.1deg, #252525 5.11%, #181818 100.87%);
            border-radius: 100%;
            .item-logo{
                width: 90%;
            }
            .tick-circle{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -15%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 32px;
                width: 32px;
                border-radius: 100%;
                background-color: #394754;
            }
            .tick{
                width: 11px;
            }
        }
        &__header{
            line-height: 35px;
        }
        &__text{
            color: #fff;
            font-size: 15px;
            line-height: 19px;
            font-weight: 400;
        }
    }
    .ball{
        position: absolute;
        bottom: 5%;
        left: 5%;
        z-index: 1;
    }
}
.list{
    display: none;
}
@media(max-height: 900px){
    .promo{
        min-height: 900px;
    }
}
@media(max-width: 1250px){
    .promo{
        &__text{
            margin-left: 0;
        }
        &-button__wrapper{
            margin-left: 0;
        }
        &__wrapper{
            margin-left: 80px;
        }
        &-items{
            flex-wrap: wrap;
            width: 570px;
        }
        &-item{
            width: 280px;
            bottom: 27px;
            padding-top: 30px;
            &:nth-child(n+3){
                .promo-item__logo{
                    top: -10%;
                }
            }
            &:nth-child(2){
                border-radius: 0 10px 0 0;
            }
            &:nth-child(3){
                border-radius: 0 0 0 10px;
            }
            &:nth-child(4){
                border-radius: 0 0 10px 0;
            }
            &__logo{
                height: 70px;
                width: 70px;
                top: -26%;
                .tick-circle{
                    width: 25px;
                    height: 25px;
                } 
                .tick{
                    width: 10px;
                }
            }
        }
    }
}
@media(max-width: 1000px){
    .promo{
        &__wrapper{
            width: 400px;
            margin-left: 70px;
        }
        &__h1{
            font-size: 30px;
            line-height: 40px;
        }
        &__h2{
            font-size: 22px;
        }
        &__text{
            font-size: 14px;
        }
    }
}
@media(max-width: 610px){
    .promo{
        overflow: hidden;
        background: url('../img/bg2.png') center top/auto 900px no-repeat;
        min-height: 1370px;
        &__wrapper{
            width: 300px;
            margin: 0 auto;
        }
        &__h1{
            display: inline;
            font-size: 26px;
            line-height: 36px;
            margin-right: 5px;
        }
        &-h2__wrapper{
            display: inline;
            &::before{
                display: none;
            }
        }
        &__h2{
            display: inline;
            font-size: 26px;
            line-height: 36px;
            &::before{
                display: none;
            }
        }
        &__text{
            font-size: 14px;
        }
        &-button__wrapper{
            width: 250px;
        }
        &__button{
            width: 240px;
        }
        &-items{
            position: absolute;
            bottom: -27px;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }
        &-item{
            &:nth-child(n+2){
                .promo-item__logo{
                    top: -10%;
                }
            }
            &:first-child{
                border-radius: 10px 10px 0 0;
            }
            &:nth-child(2){
                border-radius: 0 0 0 0;
            }
            &:nth-child(3){
                border-radius: 0 0 0 0;
            }
            &:nth-child(4){
                border-radius: 0 0 0 0;
            }
        }
        .list{
            position: absolute;
            bottom: 0;
            display: block;
            height: 470px;
            width: 100%;
            background: linear-gradient(102.1deg, #252525 5.11%, #181818 100.87%);
        }
        .ball{
            bottom: 37%;
            left: 65%;
        }
    }
}
@media(max-width: 375px){
    .promo{
        background: url('../img/bg3.jpg') center top/auto 900px no-repeat;
        &-button__wrapper{
            width: 240px;
        }
        &__button{
            font-size: 13px;
            width: 230px;
        }
        .ball{
            height: 15px;
            width: 15px;
            left: 85%;
            bottom: 36%;
        }
    }
}